@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/* Base Rule */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}

html {
    font-size: 62.5%;
}


/* Theme */
/* Layout */

.container {
    /* max-width: 148rem; */
    max-width: 128rem;
    /* max-width: 136rem; */
    margin: 0 auto;
    padding: 9.6rem 2.4rem;
}

/* Module / Reusable */
/* States */



/* Starting Navbar Section */

.section-navbar {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

/* Ending Navbar Section */