@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/* Base Rule */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}

html {
    font-size: 62.5%;
}


/* Theme */
/* Layout */
/* Module / Reusable */
/* States */



/* Starting Navbar Section */


/* Ending Navbar Section */