@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/* Starting of Base Rule */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* background-color: #D6DAC8; */
}

html {
    font-size: 62.5%;
}

p,
li,
a,
label {
    font-family: "Urbanist", sans-serif;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    color: var(--para-color);
    line-height: 1.5;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {}

h2 {}

h3 {
    text-transform: capitalize;
}

h4 {}

h5 {}

h6 {}

/* Ending of Base Rule */





/* Starting of Theme */

:root {
    --main-color: #0062ff;
    --supporting-color: #ebf3fe;
    --font-color: #424242;
    /* --bg-color: #ffffff; */
    --bg-color: #f7fcff;
    --heading-color: #000a19;
    --para-color: #504e4d;
    --h-color: #0a043c;
    --white-color: #ffffff;
    --bnt-hover-bg-color: #003b99;
    --btn-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --hero-heading--color: #003b99;
    --footer-bg-color: #040d12;
}

/* Ending of Theme */





/* Starting of Layout */

.container {
    /* max-width: 148rem; */
    max-width: 128rem;
    /* max-width: 136rem; */
    margin: 0 auto;
    padding: 9.6rem 2.4rem;
}

/* Starting of Hero Section */

.grid {
    display: grid;
}

.grid-two--cols {
    grid-template-columns: repeat(2, 1fr);
}

/* Ending of Hero Section */
/* Starting About Section */

.grid-three--cols {
    grid-template-columns: repeat(3, 1fr);
}

/* Ending About Section */
/* Starting Course Section */

.grid-four--cols {
    grid-template-columns: repeat(4, 1fr);
}

/* Ending Course Section */

/* Targeting each section first container only for 
below extra space reducing now. */



/* .section-about .container:first-child,
.section-blog .container:first-child,
.section-course .container:first-child,
.section-contact--homepage .container:first-child,
.section-why--choose .container:first-child,
.section-contact .container:first-child {
    padding: 6.4rem 0 2.4rem 0;
}  */

/* So, the above code smae thing is repeating again 
and again. We can merge it. */

:is(.section-about,
    .section-blog,
    .section-course,
    .section-contact--homepage,
    .section-why--choose,
    .section-contact).container:first-child {
    padding: 6.4rem 0 2.4rem 0;
}



/* Ending of Layout */





/* Starting of Module or Reusable */
/*Starting Button of Hero Section */

.btn {
    padding: 1.2rem 3.2rem;
    background-color: var(--main-color);
    /*Ininlinepaddingdoesnotwork.So,weuseinline-blockthatseparatethebuttonfromthetext*/
    display: inline-block;
    color: var(--white-color);
    border-radius: 0.6rem;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;
}

/*Ending Button of Hero Section */


/* Starting About Section */

.section-common-heading {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 3.2rem;
}

.section-common-subheading {
    color: var(--heading-color);
}

.section-common--title {
    margin: 2.4rem 0 1.2rem 0;
    font-size: 2rem;
}

/* Ending About Section */

/* Starting Course Section */

.fa-solid {
    padding: 2.44rem;
    background-color: var(--supporting-color);
    color: var(--hero-heading--color);
    font-size: 2.4rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* Ending Course Section */

/* Ending of Module or Reusable */





/* Starting of States */
/*Starting Button of Hero Section */

.btn:hover {
    background-color: var(--bnt-hover-bg-color);
    box-shadow: var(--btn-box-shadow);
    cursor: pointer;
}

/*Ending Button of Hero Section */
/* Ending of  States */





/* Starting Navbar Section */

.section-navbar {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: #C0D6E8;
}


.section-navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Over-riding the padding  */
    padding: 1.8rem 0;
}


.section-navbar .navbar ul {
    display: flex;
    gap: 3.2rem;
    /* text-transform: capitalize; */

    & li a {
        /* Over-riding the text-transform  previous mention above. */
        text-transform: uppercase;
        color: var(--heading-color);
        font-weight: 600;
        display: inline-block;
        font-size: 1.6rem;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            /*Playing with width that help in transition*/
            /*width: 50%;
          */
            /*width: 100%;
          */
            width: 0%;
            /* border-bottom: 0.2rem solid var(--main-color); */
            border-bottom: 0.2rem solid var(--main-color);
            bottom: -0.3rem;

            transition: all 0.3s linear;
            -webkit-transition: all 0.3s linear;
            -moz-transition: all 0.3s linear;
            -ms-transition: all 0.3s linear;
            -o-transition: all 0.3s linear;
        }
    }

    /* Hovering the after psudeo element  */
    & li a:hover:after {
        width: 100%;
    }
}

/* Ending Navbar Section */




/* Starting Hero Section */

main {
    background-image: linear-gradient(to top right,
            #3d86fa,
            #4484fb,
            #679eff,
            #b3d2ff,
            #ebf3fe);

    position: relative;
}

.section-hero--image img {
    width: 100%;
    height: auto;
    /* Fliping or reversing the image  */
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
}

.section-hero .grid {
    align-items: center;
    /* Putting the gap between grid-template-columns */
    gap: 6.4rem;

    & .hero-subheading {
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        font-size: 1.7rem;
        color: var(--bnt-hover-bg-color);
        font-weight: 700;
    }

    & .hero-heading {
        font-size: 5.8rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: var(--hero-heading--color);
        text-transform: capitalize;
        line-height: 1.5;
    }

    & .hero-para {
        color: var(--white-color);
        margin: 2rem 0 4.2rem 0;
    }
}




/* Starting Shape Divider Section */

/* Before pasting this shape divider make sure that your parent will be relative. Either it is going to create a problem. As, I have make the main tag in css as position relative.
 */

.custom-shape-divider-bottom-1711973241 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.custom-shape-divider-bottom-1711973241 svg {
    position: relative;
    display: block;
    width: calc(123% + 1.3px);
    height: 77px;
}

.custom-shape-divider-bottom-1711973241 .shape-fill {
    fill: #FFFFFF;
}


/* Ending Shape Divider Section */
/* Ending Hero Section */





/* Starting About Section */

.section-about img {
    padding: 2.4rem;
    background-color: var(--supporting-color);
    width: 15rem;
    height: auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    /* Hover only work when parent have the transition effect. */

    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

.section-about .about-div {
    text-align: center;
}

.section-about .grid {
    gap: 6.4rem;
}

.about-div .icon:hover img {
    /* transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg); */

    /* Instead of above long code. We preferred the rotate directly.*/

    rotate: 360deg;

    background: linear-gradient(to right, #0575e6, #021b79);
}

.section-about {
    background-color: #E5DDC5;
}

/* Ending About Section */





/* Starting Course Section */

.section-course .grid {
    gap: 3.2rem;
}

/* Moving this to reusable section because it is going to repeat. */

/* .fa-solid {
    padding: 2.44rem;
    background-color: var(--hero-heading--color);
    color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 2.4rem;
} */

.section-course .course-div:hover {
    box-shadow: var(--btn-box-shadow);
}

.section-course .course-div {
    padding: 3.2rem;
}

.course-div:nth-child(2) .icon .fa-solid {
    color: #68bf9b;
    background-color: #e7f6ef;

}

/* We can use nth-child or nth-of-type */

/* .course-div:nth-of-type(3) .icon .fa-solid {
    background: red;
} */

.course-div:nth-child(3) .icon .fa-solid {
    background-color: #fbebe8;
    color: #ff8b52;
}

.course-div:nth-child(4) .icon .fa-solid {
    background-color: #ccf7f7;
    color: #183d3d;
}

.course-div:nth-child(5) .icon .fa-solid {
    background-color: rgb(247, 223, 238);
    color: #d988b9;
}

.course-div:nth-child(6) .icon .fa-solid {
    background-color: #f6dfce;
    color: #ff9b50;
}

.course-div:nth-child(7) .icon .fa-solid {
    background-color: #dce9fa;
    color: #1450a3;
}

.section-course {
    background-color: var(--bg-color);
}

/* Ending Course Section */






/* Starting Service Section */
/* Starting Why Choose Section */


.common-text--highlight {
    background-color: var(--supporting-color);
    width: 5rem;
    aspect-ratio: 1;
    font-size: 2.4rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.section-why--choose .text-align--right .why-choose--div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    text-align: right;
}

.section-why--choose .grid {
    gap: 6rem;
}

/* Starting Choose-Left--Div Section */
/* Ending Choose-Left--Div Section */
/* Starting Center Image Section  */

.choose-center--div,
figure {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* 
.choose-center--div,
figure img {
    width: 90%;
    height: auto;
} */

.choose-center--div figure::before,
.choose-center--div figure::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    background-color: blue;
    width: 43rem;
    height: 43rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: -1;
}


.choose-center--div figure::after {
    width: 48rem;
    height: 48rem;
    background-color: var(--supporting-color);
    z-index: -2;
    border: 0.2rem solid var(--supporting-color);
}

.choose-center--div figure::before {
    animation: circle 5s linear infinite;
    -webkit-animation: circle 5s linear infinite;
}

@keyframes circle {
    0% {
        background-color: #b3d0ff;
    }

    25% {
        background-color: #80b1ff;
    }

    50% {
        background-color: #4d91ff;
    }

    75% {
        background-color: #99c0ff;
    }

    100% {
        background-color: #3381ff;
    }
}


/* Ending Center Image Section  */
/* Starting Choose-Right--Div Section  */


.section-why--choose .text-align--left .why-choose--div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}


/* Ending Choose-Right--Div Section  */


/* 
.section-why--choose .container:first-child {
    padding: 6.4rem 0 2.4rem 0;
} */

/* Ending Why Choose Section */
/* Ending Service Section */






/* Starting Contact Home Section  */


.section-contact--homepage {
    width: 60%;
    /*height: 30rem;
    */
    min-height: 30rem;
    margin: 0 auto;
    box-shadow: rgba(100, 100, 111, 0.5) 0px 1px 2px 0px, rgba(100, 100, 111, 0.5) 0px 1px 2px 0px;
    margin-bottom: 5rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;

    padding: 0 3.2rem;
    position: relative;
    bottom: -25rem;
    /* background-color: orange; */
    /* background-color: var(--white-color); */
    background-color: #A1C398;
}


.section-contact--homepage .grid {
    align-items: center;
    gap: 6.4rem;
}


.section-contact--homepage img {
    width: 100%;
    aspect-ratio: 1;
}

.contact-title {
    font-size: 3.8rem;
    line-height: 1.2;
}

.contact-content p {
    margin: 1.2rem 0 2.4rem 0;
}


.section-contact--homepage .btn {
    padding: 0 3rem;
}

.section-contact--homepage .btn a {
    color: var(--white-color);
    text-transform: capitalize;
}

.section-contact--homepage .btn a .fa-solid {
    color: var(--white-color);
    background-color: var(--main-color);
}


/* Ending Contact Home Section  */





/* Starting Footer Section  */


footer {
    background-color: var(--footer-bg-color);
    padding-top: 15rem;
}

footer * {
    color: var(--white-color);
}

.footer-subheading {
    font-size: 2.2rem;
    font-weight: 700;
}

/* 
.footer-1--div .social-footer--icons .fa-brands {
    background-color: var(--bnt-hover-bg-color);
    width: 4rem;
    aspect-ratio: 1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

footer .footer-1--div .social-footer--icons {
    display: flex;
    gap: 1.4rem;
}

footer .footer-1--div .fa-brands:hover {
    color: var(--supporting-color);
    rotate: 360deg;
}

.footer-1--div p {
    margin: 1rem 0 3.2rem 0;
}
 */


/* Now, we will see the nested classes of the above code. */

.footer-1--div {
    text-align: left;

    & .social-footer--icons {
        display: flex;
        gap: 2.4rem;

        & .fa-brands {
            width: 5rem;
            aspect-ratio: 1;
            background-color: var(--supporting-color);
            color: var(--bnt-hover-bg-color);
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;

            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.3s linear;
            -webkit-transition: all 0.3s linear;
            -moz-transition: all 0.3s linear;
            -ms-transition: all 0.3s linear;
            -o-transition: all 0.3s linear;


            &:hover {
                color: var(--supporting-color);
                background-color: var(--bnt-hover-bg-color);
                rotate: 360deg;
            }
        }
    }
}

footer .grid {
    text-align: right;
}

/* Ending Footer Section */


/* Starting Blog Section */

.section_blogs {
    background-color: var(--bg-color);

    & .blog {
        box-shadow: var(--btn-box-shadow);
        transition: all 0.3s linear;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;

        &:hover {
            scale: 1.1;
        }

        & img {
            width: 100%;
            height: auto;
        }

        & .blog-content {
            padding: 1.4rem 2.4rem 2.4rem;

            & .blog-date {
                display: flex;
                justify-content: space-between;
                margin-top: 1.6rem;
                font-size: 1.4rem;

                & .fa-solid {
                    background-color: transparent;
                    padding: 0;
                }
            }

            & .section-common--title {
                margin-top: 0.8rem;
            }
        }
    }

    & .grid {
        gap: 6.4rem;
    }

}


/* Ending Blog Section */


/* Starting Actual Contact section */

.mb-3 {
    margin-bottom: 3.2rem;
}

label {
    /* We know that label is an inline element. So, make it to block*/
    display: block;
    text-transform: capitalize;
}

input,
textarea {
    width: 100%;
    padding: 1.4rem 2.4rem;
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
}

.contact-content .grid {
    /* Given gap between username and useremail */
    gap: 6.4rem;
}

::placeholder {
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
}

.btn-submit {
    font-size: 1.8rem;
}

.section-contact--Actual {
    & .grid {
        gap: 6.4rem;
    }
}

/* Ending Actual Contact section */